{{> header}}
    {{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>Diferentes tipos de arcoiris</h1>
        </div>
<div class="col-4">
<img src="assets/img/arcoiris1.jpg" class="img-thumbnail" alt="Admíro los arcoiris!">
</div>
<img src="assets/img/arcoiris2.jpg" class="img-thumbnail" alt="Admíro los arcoiris!">
</div>
    </div>
{{> footer}}